# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# SQLite database files
*.db
*.sqlite3

# Test coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Virtual environments
venv/
.env/
.venv/

# VS Code settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# Pyre
.pyre/

# Pytest
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/
